@media(max-width:1300px){
  .advantages_of_cooperation_blocks {
    margin-top: 5%;
    display: grid;
    gap: 5%;
    padding: 0 1%;
    grid-template-columns: repeat(3,2fr);

    
  }

  .about_background__img{
    background-image: url(/images/close-up-of-metal-doorknob-on-blurred-background-of-home-interior\ \(1\)\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 104%;
    height: 658px;
  }

  .our_contact__info_flex{
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2%;
  }

  .about_flex{
    padding: 0 2%;
  }
  
  .hero_mark {
    height: 600px;
    width: 150px;
    background-size: cover;

  }



  .creat_door__block{
    margin-left: 2%;
    margin-right: 2%;
  }

  .our_contact__soc_net{
    margin-top: 2%;
  }
}

@media(max-width:1262px){
  .hero__swiper {
    width: 500px;
    
  }
}

@media(max-width:1280px){
  .servis{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.servise_title__block_bg_color > .container-left{
  margin: 0 auto;
  padding: 0 2%;
}

.servis_discount_block{
  background-image: url(/images/photo-right__servis.png);
    width: 100%;
    height: 655px;
    position: relative;
    background-size: cover;
    background-position: left;
}
}


@media(max-width:1215px){
  .line{
    border-bottom: 2px dashed  #78F362;
    width: 65%;
  }
}


@media(max-width:1195px){
  .header_menu__list{
    display: flex;
    gap: 2%;4
    width: 44%;
    padding-left: 19.5%;
  }
  .line{
    border-bottom: 2px dashed  #78F362;
    width: 75%;
  }
}

@media(max-width:1115px){
  .line{
    border-bottom: 2px dashed  #78F362;
    width: 90%;
  }
}

@media(max-width:1050px){
  .line{
    border-bottom: 2px dashed  #78F362;
    width: 80%;
  }
}

@media(max-width:1000px){

  .creat_door__button{
    width: 100%;
    display: flex;
    justify-content: center;
  }


    .background_color__size .container_right{
    height: 100%;
  }

  .about_number{
    height: 100%;
  }

  .choice__accessories_pen{
    padding: 0;
  }

  .choice__accessories__button,.choice__accessories__button_right{
    top: 28%;
  }

  .choice__accessories_pen{
    width: 75%;
  }

  .info_door_text{
    text-align: center;
    width: 80%;
  }

  .creat_your_door__block{
    margin-top: 2%;
    width: 100%;
    height: 1400px;
    
    padding: 1% 2%;
}

.block_door__text{
    color: #505050;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-top: 9%;
}
  .creat_door__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 2%;
    border-radius: 24px;
    background: #fff;
    height: 1650px;
    box-shadow: 0px 4px 20px 0px #ECECEC;

}

.creat_your_door{
  height: 2050px;
}

.choice_door__blocks{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.choice__door__block{
  margin-top: 17%;
}

.creat_door__block_door{
  width: 100%;
}

.choice__door_lable{
  width: 100%;
  align-items: center;
}

.choice__color_accessories{
  margin-top: 10%;
}

.choice__accessories{
  margin-top: 10%;
}

.creat_door__block_info{
  width: 100%;
}

.creat_door_button{
  margin-top: 15%;
  width: 400px;
  height: 100%;
  padding: 4% 5%;
  display: flex;
  justify-content: center;
}

.choice__color{
  display: flex;
  flex-direction: column;
  gap: 10%;
  align-items: flex-start;
  width: 100%;
}

.choice__dor_color{
  margin-top: 5%;
  align-items: center;
}

  .hero-block{
    background-image: url(/images/hero_bg.png);
    width: 100%;
    height: 850px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;

  }

  .advantages_of_cooperation{
    background-image: url(/images/interior-shot-of-a-modern-house-clothing-room.png);
    height: 1000px;
}

.hero_mark{
  margin-left: 2%;
}


.hero__swiper{
  background-color: #F8F8F8;
  border-radius: 25px;
  padding: 2%;
  opacity: 0.9;
  margin-left: 0;
}

.swiper_hero{
  opacity: 2;
}


.advantages_of_cooperation_backgroung_color{
  background-color: #220C0C;
  opacity: 0.89;
  display: flex;
  align-items: center;
  height: 1000px;
  flex-direction: column;
}

  .advantages_of_cooperation_blocks {
    display: grid;
    gap: 1%;
    padding: 0 2%;
    grid-template-columns: repeat(2,2fr);
  }

  .burger_elm{
    height: 300px;
    transform: translateX(-200%);
  }

    .open{
    display: flex;
    width: 300px;
    height: 300px;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 10%;
    top: -10px;
    right: 0;
    z-index: 2;
    background-color: #DDB96D;
    opacity: 0.8;
  }

  .burger_elm{
    padding-top: 50px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4%;
  }

  .open{
    transform: translateX(0%);
  }



  .header_menu__list{
    display: block;

  }

  .header_menu__phone{
    margin-top: 0;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .header_menu__feedback{
    margin-top: 0;
    width: 80%;
    margin-left: 10%;
  }

  .choice__accessories__button_img{
    width: 100%;
  }

  .hero_mark{
    width: 120px;
    height: 120px;
    padding: 0 2%;
    background-position: bottom;
    background-image: url(../images/advantages_1.svg);
  }

  .hero{
    flex-direction: column;
    gap: 0;
  }

  .hero_swiper_list_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20%;
  }

  .hero_mark>.hero_mark__list{
    display: none; 
  }

  .hero_mark__list_2{
    display: flex;
    background-color: #f7f7f7;
    gap: 10px;
    width: 100%;
    height: 150px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    margin-top: 11%;
  }

  .hero_mark__list_2>.hero_mark__list{
      padding: 5%;
      border-radius: 25px;
      opacity: 0.9;
      width: 100%;
      display: flex;
      flex-direction: row;
  }
  .hero_mark__list{
    gap: 0;
  }

  .hero__swiper{
    margin-top: -4%;
    width: 82.5%;
    height: 380px;
  }

  .mark_list{
    display: block;
    width: 100%;
  }

  .burger{
    top:20px;
    left: 85%;
    width: 50px;
    height: 50px;
    z-index: 50;
    background-color: #DDB96D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    opacity: 0.9;
    border-radius: 50%;
  }

  .active{
    left: 250px;
  }

  .hero{
    display: flex;
    gap: 50px;
    
  }

  .footer_flex{
    padding: 0 2%;
  }

  .advantages_info__door{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
}

.info_door{
  display: flex;
  width: 80%;
  gap: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info_door__characteristic{
  align-items: center;
}

.door_characteristic__img_and_text{
  flex-direction: column;
  align-items: center;
}

.info_door__right{
  margin: 0;
  margin-top: 10%;
}

.door_characteristic_text{
  text-align: center;
}

.info_door__left{
  margin-bottom: 10%;
}

.our_contact__block{
  flex-direction: column;
}

.map{
  width: 100%;
}

.contact_us{
  width: 100%;
  padding: 0;
}

.form_flex{
  align-items: center;
}

}

@media(max-width:975px){

}

@media(max-width:912px){
  .creat_door__block{
    height: 1900px;
  }
}


@media(max-width:880px){

  .hero__swiper {
    margin-top: -4%;
    width: 700px;
    height: 380px;
  }

  .hero-block{
    height: 900px;
    display: flex;
  }
}

@media(max-width:768px){


  .hero_mark__list_2 > .hero_mark__list{
    width: 100%;
  }

  .hero{
    display: flex;
    gap: 50px;
    width: 150%;  
  }

  .container{
    margin: 0 2%;

  }

  .burger{
    top:15px;
    width: 50px;
    height: 48px;
    z-index: 50;
    background-color: #DDB96D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
    position: relative;
    opacity: 0.9;
    border-radius: 100%;
  }

  .hero_mark{
    width: 100px;
    height: 100px;
    padding: 0 2%;
    background-position: bottom;
    background-image: url(../images/advantages_1.svg);
  }

  .hero-block{
    background-image: url(/images/hero_bg.png);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: cover;
  }

  .creat_door__block{
    height: 1700px;
  }

  .door__img{
  }

  .hero_mark {
    width: 100px;
    height: 100px;
  }

  .hero_mark__title{
    font-family: Jost;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 57.8px;
    color: #2E2E2E;
    margin-top: 5%;
  }

  .hero_title{
    font-size: 20px;
    line-height:30px;
  }

  .mark_list{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    line-height: 24px;
    color: #2E2E2E;
  }

  .hero_text{
    font-size: 14px;
  }

  .gold_big{
    font-size: 20px;
  }

  .hero_button__text{
    font-size: 16px;
  }

  .hero_button__img{
    width: 40px;
  }



  .hero__swiper{
    width: 50%;
    height: 200px;
  }

  .hero_swiper_list_flex{
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .hero_button{
    width: 180px;
    height: 50px;
  }

  .hero_text{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #3D3B3B;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .advantages{
    margin-top: 5% 0;
  }

  .advantages_title{
    font-size: 22px;
  }

  .advantages_text{
    font-size: 14px;
    width: 60%;
  }

  .door_characteristic_text{
    font-size: 20px;
  }

  .info_door_text{
    font-size: 14px;
    width: 80%;
  }

  .advantages_of_cooperation__title{
    font-size: 22px;
    margin-top: 0;
  }

  .advantages_of_cooperation_block__number{
    font-size: 30px;
  }

  .advantages_of_cooperation_block__text{
    font-size: 14px;
  }

  .advantages_of_cooperation{
    height: 760px;
  }

  .catalog_doors_title, .servis_discount_title__text,.abouy_number_title,.implemented_projects_title,.our_contact__title{
    font-size: 22px;
  }

  .catalog_accessories_title,.creat_dor__title,.about_title,.contact_us__title{
    font-size: 20px;
  }

  .advantages_of_cooperation__button{
    width: 300px;
  }

  .advantages_of_cooperation__button_text, .servis_discount_title__text2,.about_button_marker,.contact_us__input_top,.contact_us__input{
    font-size: 14px;
  }

  .door_inner_shell__title, .door_inner_shell__text, .door_inner_shell__characteristic, .door_inner_shell_cost__title, .door_inner_shell_characteristic__text, .door_color_title, .door_glass_title,.block_accessories__text,.servis_discount_title__button,.block_door__text,.choice__text, .about_text,.about_number_text,.projects_text,.our_contact_gps,.our_contact__mail_adres,.our_contact_phone,.our_contact__soc_net,.contact_us__mark
  { 
    font-size: 14px;
  }

  .servis_discount_title__button{
    margin-left: 25%;
    width: 250px;
  }

  .door_inner_shell_cost,.door_inner_button_text{
    font-size: 16px;
  }

  .about_button{
    width: 240px;
  }

  .door__img{
    width: 400px;
    margin: 0 2%;
  }

  .servis_discount_title__text2{
    width: 100%;
  }

  .advantages_title__info {
    width: 100%;
    padding: 0 2%;
  }

  .our_contac__img_tel{
    display: flex;
    align-items: center;
    grid-area: 5%;
  }

  .our_contac_line{
    width: 140px;
  }

  .padding{
    padding: 14px 20px;
  }

  .contact_us__button{
    width: 250px;
  }

  .contact_us__mark{
    width: 42px;
  }

  .advantages_of_cooperation{
    height: 800px;
  }

  .advantages_of_cooperation_backgroung_color{
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .servis_discount_block{
    background-image: url(/images/photo-right__servis_2.png);
    background-size: contain;
    background-position: top
    ;
    background-repeat: no-repeat;
    height: 780px;
  }

  .hero_arrow{
    display: none;
  }

  .servis_discount_title__button{
    margin-left: 32.5%;
    width: 250px;
  }

  .hero_swiper_list_flex{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-block > .container{
    margin: 0;
    max-width: none;
    width: 100%;
  }

}


@media(max-width:740px){
  .servis_discount_block{
    height: 755px;
  }
}
@media(max-width:720px){
  .servis_discount_block{
    height: 735px;
  }
  .creat_door__block{
    height: 1800px;
  }
  .creat_your_door{
    height: 1900px;
  }
}
@media(max-width:700px){
  .servis_discount_block{
    height: 710px;
  }

  .servis_discount_title__button{
    margin-left: 30%;
    width: 250px;
  }
}

@media(max-width:672px){
  .advantages_of_cooperation{
    height: 850px;
  }
}
@media(max-width:660px){
  .servis_discount_block{
    height: 670px;
  }

  .creat_door__block{
    height: 1700px;
  }
  .creat_your_door{
    height: 1800px;
  }
}
@media(max-width:620px){
  .servis_discount_block{
    height: 630px;
  }
  .block_door__text{
    margin-top: 12%;
  }
}
@media(max-width:600px){

  .servis_discount_block{
    height: 600px;
  }

  .advantages_info__door{
    margin: 20% 0;
  }

  .servis_discount_title__button{
    margin-left: 30%;
    width: 250px;
  }
  
}

@media(max-width:560px){
  .advantages_of_cooperation_blocks{
    grid-template-columns: 1fr ;
  }
}

@media(max-width:560px){
  .servis_discount_block{
    height: 570px;
  }
  .creat_door__block{
    height: 1600px;
  }
  .creat_your_door{
    height: 1700px;
  }

  .about_background__img, .background_color__size {
    background: none;
  }

  .about_button{
    width: 200px;
    padding: 5px 35px;
  }

  .about__background_color .container_right{
    margin: 0;
    height: 300px;
  }

  .about_flex{
    gap: 10%;
    padding: 0 2%;
    flex-direction: column;
  }

  .about_number{
    display: flex;
    width: 96%;
    flex-direction: row;
    height: 300px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
  }

  .about__number{
    height: 200px;
    width: 100%;
  }

  .bottom-line{
    border-bottom: none;
    width: 35%;
    height: 150px;
  }

  .about_number_blok{
    gap: 5%;
    padding: 2%;
  }

  .about_block_width{
    width: 50%;
  }
  .contact_us__input{
    width: 250px;
    height: 45px;
  }

  .about_info .container-left{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__background_color {
    height: 650px;
  }

  .about_info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }

  .contact_us__input_block{
    width: 280px;
    
  }

  .our_contact__gps{
    width: 62%;
  }

  .abouy_number_title,.about_number_text{
    text-align: center;
  }
  .about_number_text{
    width: 100%;
  }

  .contact_us__button{
    width: 200px;
    padding: 15px 0;
  }

  .contact_us__mark{
    padding-left: 15%;
  }

  .form_flex{
    align-items: center;
  }

  .hero__swiper {
    width: 65%;
    height: 210px;
  }

  .hero_swiper_list_flex{
    width: 65%;
    justify-content: center;
    align-items: center;
  }

  .servis_discount_title__button{
    margin-left: 25%;
    width: 250px;
  }
}

@media(max-width:563px){


  .burger{
    top:15px;
    width: 40px;
    height: 38px;
    z-index: 50;
    background-color: #DDB96D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    opacity: 0.9;
    border-radius: 50%;
  }

  .burger::before, .burger::after{
    width: 25px;
  }

  .burger_line{
    width: 25px;
  }

  .hero_button__text{
    font-size: 14px;
  }

  .hero_button{
    width: 150px;
  }

  .hero_button__img{
    width: 30px;
  }


}

@media(max-width:520px){
  .servis_discount_block{
    height: 530px;
  }

  .block_door__text{
    margin-top: 14%;
  }
}
@media(max-width:480px){
  .servis_discount_block{
    height: 475px;
  }

 
  .burger{
    top: 20px;
  }

  .servis_discount_title__button{
    margin-left: 30%;
    width: 250px;
  }
}

@media(max-width:560px){
  .advantages_of_cooperation{
    height: 930px;
  }
  
}

@media(max-width:540px){
  .advantages_of_cooperation{
    height: 920px;
  }

}

@media(max-width:520px){
  .advantages_of_cooperation{
    height: 915px;
  }
}

@media(max-width:511px){
  .advantages_of_cooperation{
    height: 975px;
  }

}


@media(max-width:490px){
  .advantages_of_cooperation{
    height: 1000px;
  }
}

@media(max-width:480px){
  .advantages_of_cooperation{
    height: 800px;
  }

  .advantages_of_cooperation__button{
    margin-top: 12%;
  }

  .servis_discount_title__button{
    margin-left: 23%;
    width: 250px;
  }

  
}
@media(max-width:450px){
  .advantages_of_cooperation{
    height: 820px;
  }

  .advantages_of_cooperation__button{
    margin-top: 12%;
  }
}
@media(max-width:430px){
  .advantages_of_cooperation{
    height: 850px;
  }

  .advantages_of_cooperation__button{
    margin-top: 12%;
  }
}

@media(max-width:410px){
  .advantages_of_cooperation{
    height: 880px;
  }

  .footer_arrow{
    width: 35px;
    margin-left: 10%;
  }
}


@media(max-width:371px){
  .advantages_of_cooperation{
    height: 1300px;
  }
  .advantages_of_cooperation__button{
    margin-top: 25%;
  }
}

@media(max-width:333px){
  .advantages_of_cooperation{
    height: 1400px;
  }
  .advantages_of_cooperation__button{
    margin-top: 30%;
  }
}


@media(max-width:440px){
  .servis_discount_block{
    height: 450px;
  }
  .creat_door__block{
    height: 1500px;
  }
  .creat_your_door{
    height: 1600px;
  }
}

@media(max-width:400px){
  .servis_discount_block{
    height: 410px;
  }
  .hero_swiper_list_flex{
    margin-top:5%;
  }
}
@media(max-width:360px){
  .servis_discount_block{
    height: 360px;
  }
  .creat_door__block{
    height: 1600px;
  }
  .creat_your_door{
    height: 1700px;
  }
}

@media(max-width:320px){
  .servis_discount_block{
    height: 320px;
  }
}
@media(max-width:720px){
  .choice__accessories__block span {
    left: -80%;
  }

  .choice__accessories__block label span::after {
    width: 8px;
    height: 8px;

  }

  .choice__accessories__block span {
    height: 14px;
    width: 14px;

  }
}

@media(max-width:480px){
  .footer_arrow{
    width: 45px;
    margin-left: 10%;
  }

  .hero_mark__title,.advantages_title,.catalog_doors_title,.creat_dor__title,.implemented_projects_title,.projects_text{
    font-size: 18px;
  }



  .contact_us__mark{
    width: 100%;
  }



  .mark_list{
    width: 100%;
  }

  .gold_big,.hero_title,.door_characteristic_text,.door_button_text,.advantages_of_cooperation__title,.advantages_of_cooperation_block__number,.door_inner_shell__title,.door_color_title,.door_glass_title,.catalog_accessories_title,.servis_discount_title__text,.choice__text,.about_title,.abouy_number_title,.contact_us__title,.footer_button{
    font-size:14px;
  }

  .mark_list,.hero_text,.info_door_text,.hero_button__text,.advantages_text,.advantages_of_cooperation_block__text,.advantages_of_cooperation__button_text,.door_inner_shell__title, .door_inner_shell__text, .door_inner_shell__characteristic, .door_inner_shell_cost__title, .door_inner_shell_characteristic__text, .door_color_title, .door_glass_title, .block_accessories__text, .servis_discount_title__button, .block_door__text, .choice__text, .about_text, .about_number_text, .projects_text, .our_contact_gps, .our_contact__mail_adres, .our_contact_phone, .our_contact__soc_net, .contact_us__mark,.servis_discount_title__text2,.creat_door_button_text,.about_text,.about_number_text,.about_button_text,.projects_text,.contact_us__input_top,.contact_us__input,.contact_us__approval,.footer_tex,.footer_tex .text_derection{
    font-size:12px;
  }

  .door_characteristic_img{
    width: 80px;
  }

  .hero_mark{
    width: 90px;
    height: 90px;
  }

  .hero_button__img{
    width: 25px;
  }
  
  .hero_button{
    width: 125px;
    height: 40px;
  }



  .door_button_marker{
    width: 65%;
  }

  .door_button{
    width: 300px;
    height:42px;
  }

  .door__img{
    width: 300px;
    
  }

  .door_button_text{
    width: 200px;
  }

  .advantages_of_cooperation__button{
    width: 250px;
    height: 50px;
  }

  .servis_discount_title__button{
    width: 230px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .creat_door_button{
    width: 200px;
  }

  .our_contact__soc_net{
    width: 100px;
  }

  .contact_us__input{
    height: 35px;
  }

  .contact_us__text {
    width: 70%;
  }
  
  .contact_us__approval{
    text-align: center;
  }
  
  .about_button {
    width: 150px;
    padding: 5px 25px;
    height: 48px;
  }

  .hero__swiper{
    width: 70%;
  }

}

@media(max-width:400px){
  .hero{
    gap: 10%;
  }


}
@media(max-width:380px){



  .hero{
    gap: 1%;
  }

  .advantages_of_cooperation{
    height: 880px;
  }

  .block_door__background{
    width: 70%;
    height: 50%;
    background-size: contain;
  }

  .block_door_img{
    width: 50%;
  }

  .servis_discount_title__button{
    margin-left: 17.5%;
    width: 250px;
  }

}
@media(max-width:380px){


  .advantages_of_cooperation{
    height: 990px;
  }

  .block_door__background{
    width: 70%;
    height: 50%;
    background-size: contain;
  }

  .about__background_color {
    height: 578px;
  }

}
@media(max-width:320px){


  .advantages_of_cooperation{
    height: 1030px;
  }

  .block_door__background{
    width: 70%;
    height: 50%;
    background-size: contain;
  }


}

@media(max-width:378px){
  .hero__swiper{
    width: 90%;
    height: 200px;
  }
}
@media(max-width:372px){
  .about__background_color {
    height: 800px;
  }

  .about_flex {
    height: 90%;
    gap: 5%;
    padding: 0 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about_number {
    margin-top: 0%;
  }
}

@media(max-width:351px){
  .hero__swiper{
    width: 90%;
    height: 220px;
  }

  .footer_arrow{
    width: 30px;
    margin-left: 25%;
  }

  .servis_discount_title__button{
    margin-left: 12.5%;
    width: 250px;
  }
}

@media(max-width:339px){
  .footer_tex{
    font-size: 10px;
  }
}
@media(max-width:676px){
  .advantages_of_cooperation{
    background: none;
  }
  .advantages_of_cooperation_backgroung_color{
    opacity: 1;
  }
}
@media(max-width:400px){
  .servise_title__block{
    background: none;
  }
  .servise_title__block_bg_color{
    opacity: 1;
  }
}



