.body {
  margin-top: -0.75%;
  background-color: #f8f8f8;
}

.container-big {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-left {
  max-width: 1320px;
  margin-left: auto;
}

.container-right {
  max-width: 1320px;
  margin-right: auto;
}

.swiper-button-prev::after {
  opacity: 0;
  content: none;
  left: none;
}

.swiper-button-next::after {
  opacity: 0;
  content: none;
  left: none;
}

.gold {
  color: #ccb178;
}

.gold_big {
  font-weight: 700;
  font-size: 40px;
  line-height: 57.8px;
  color: #ccb178;
}

.indent {
  margin: 100px 0;
}

.indent_padding {
  padding: 100px 0;
}

.title {
  font-family: Jost;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 57.8px;
  color: #2e2e2e;
}

.text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #3d3b3b;
  text-align: center;
}

.text_left {
  text-align: left;
}

.text-color_white {
  color: #fff;
}

.button {
  position: relative;
  font-family: Jost;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  list-style-type: inherit;
  background: linear-gradient(to top, #cda44e, #ebcb88);
  border-radius: 48px;
  border-bottom: #bb9441 solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 64px;
  padding: 4px 72px;
}

.button::before {
  position: absolute;
  left: 15%;
  top: 32.5%;
  content: url(/images/Ellipse\ 7.svg);
  position: absolute;
  width: 4px;
  height: 4px;
}
.button:hover {
  border-bottom: #e0b14d solid 3px;
  background: linear-gradient(to top, #f2c35d, #ebcb88);
}

.arrow_hover:hover {
  background-color: #fff;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  opacity: 75%;
}

.button_plus {
  position: absolute;
  font-size: 32px;
  border-radius: 100%;
  background: var(--linear, linear-gradient(180deg, #ebcb88 0%, #cda44e 100%));
  border: none;
  padding: 10px 15px;
  text-decoration: none;
  z-index: 1;
  transition: all 0.3s ease 0s;
}

.button_plus:hover{
  background: var(--linear, linear-gradient(180deg, #ffde97 0%, #ffcd61 100%));
}


/*header*/

.header {
  position: absolute;
  width: 100%;
  top: 2.5%;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.menu__list {
  display: flex;
  justify-content: flex-end;
  transition: all 3s ease 1s;
}

.menu {
  display: flex;
  width: 100%;
  align-items: center;
  height: 64px;
  display: flex;
  justify-content: flex-end;
}

.menu__list {
  display: flex;
  gap: 18px;
  width: 34%;
}

.menu__link {
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  color: #2e2e2e;
}

.header__phone {
  display: flex;
  align-items: center;
  width: auto;
  height: 40px;
  border-bottom: 2px dashed #78f362;
  margin-left: 63px;
  margin-right: 32px;
}

.header__phone-link {
  text-decoration: none;
  font-family: Jost;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  line-height: 28.9px;
  color: #2e2e2e;
  width: 180px;
}

.burger {
  display: none;
}

.burger__line {
  width: 35px;
  height: 2.5px;
  background-color: #493f39;
  transition: all 0.3s ease 0s;
}

.burger::before,
.burger::after {
  width: 35px;
  height: 2.5px;
  background-color: #493f39;
  transition: all 0.3s ease 0s;
  position: absolute;
  content: " ";
}
.burger::after {
  top: 25%;
}
.burger::before {
  bottom: 25%;
}

.burger.active .burger_line {
  transform: scale(0);
}

.burger.active::after {
  top: 50%;
  transform: rotate(45deg) translate(0%, -50%);
}

.burger.active::before {
  bottom: 50%;
  transform: rotate(-45deg) translate(0, 50%);
}

/*hero*/

.hero-block {
  display: flex;
}

.hero_background-img {
  background-image: url(/images/hero_bg.png);
  width: auto;
  height: 800px;
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: cover;
}

.hero__mark-list_phone {
  display: none;
}

.hero__mark {
  background-image: url(/images/advantages.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 116px;
  width: 14%;
  padding-bottom: 4%;
}

.hero__mark-list {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__mark-title {
  font-family: Jost;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 57.8px;
  color: #2e2e2e;
  margin-top: 15%;
}

.hero__mark-item {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  color: #2e2e2e;
}

.hero__swiper {
  width: 700px;
  margin-top: 20%;
  margin-left: 7%;
}

.hero__title {
  font-family: Jost;
  font-weight: 800;
  font-size: 56px;
  line-height: 82px;
  color: #2e2e2e;
}

.hero__text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #3d3b3b;
  margin-top: 16px;
  margin-bottom: 24px;
}

.hero-button {
  width: 335px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background: linear-gradient(to top, #cda44e, #ebcb88);
  border-radius: 48px;
  border-bottom: #bb9441 solid 3px;
  padding-right: 5%;
}

.hero-button:hover {
  border-bottom: #e0b14d solid 3px;
  background: linear-gradient(to top, #f2c35d, #ebcb88);
}

.hero-button__link {
  font-family: Jost;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.hero__swipper-arrow {
  display: flex;
  margin-top: 2%;
  gap: 1%;
}

.hero__arrow {
  width: 57px;
  height: 57px;
  border: none;
  border-radius: 100%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__arrow-right {
  transform: rotateY(180deg);
  width: 57px;
  height: 57px;
  border: none;
  border-radius: 100%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*advantages*/

.advantages {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.advantages__info-door {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.advantages__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}

.advantages__characteristic-block {
  display: flex;
  align-items: center;
  gap: 24px;
}

.advantages__door {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages__characteristic-title {
  color: var(--2-e-2-e-2-e, #493f39);
  font-size: 24px;
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
}

.advantages__door > .button::before {
  top: 30%;
  left: 17%;
}

.advantages__door > .button {
  padding: 5px 100px;
  margin-top: -10px;
}

.locks {
  margin-left: -6%;
}

.advantages__characteristic-img {
  height: 100px;
}

.advantages__door-block{
  position: relative;
}

.advantages__door-button_start  {
  top: -5px;
  right: 140px;
}

.advantages__door-button_mid-1  {
  top: 160px;
  right: 210px;
}
.advantages__door-button_mid-2  {
  top: 250px;
  left: 140px;
}
.advantages__door-button_end  {
  top: 420px;
  right: 175px;
}


/*advantages_of_cooperation*/

.advantages-of-cooperation_bg_img {
  background-image: url(/images/interior-shot-of-a-modern-house-clothing-room.png);
}

.advantages-of-cooperation_bg-color {
  background-color: #220c0c;
  opacity: 0.89;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.advantages-of-cooperation__blocks {
  display: grid;
  gap: 5%;
  grid-template-columns: repeat(3, 2fr);
}

.advantages-of-cooperation__number {
  font-size: 64px;
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #ccb178, 25%, #2e1a1b 74%, #220c0c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

.advantages-of-cooperation__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.advantages-of-cooperation_bg-color > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-of-cooperation_bg-color > .container > .button {
  margin-top: 84px;
  width: 250px;
  margin-bottom: 100px;
}

.advantages-of-cooperation__flex > .title {
  margin-top: 100px;
}

/*catalog*/

.catalog_doors_title {
  color: #493f39;
  text-align: center;
  font-size: 40px;
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5%;
  padding-right: 2%;
}

/*catalog_doors*/

.catalog__door {
  display: flex;
  gap: 5%;
  border-radius: 24px;
  background: #fff;
  padding: 40px;
  margin-top: 5%;
}

.catalog__door-left {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.catalog__door-color {
  margin-top: 50%;
}

.catalog__color-title {
  color: var(--3-d-3-b-3-b, #505050);
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.catalog__color-title_big {
  font-size: 16px;
}

.door_color_button {
  border-radius: 100%;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  background: none;
  flex-shrink: 1;
}

.catalog__img {
  margin-top: 16px;
  margin-right: 16px;
}

.catalog__door-glass {
  margin-top: 10%;
}

.catalog__glass-title {
  color: var(--3-d-3-b-3-b, #505050);
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.catalog__cost {
  color: var(--ccb-178, #ddb96d);
  font-size: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 2.5%;
}

.door_inner_button {
  width: 100%;
  height: 64px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(180deg, #ebcb88 0%, #cda44e 100%));
  box-shadow: 0px 3px 0px 0px #bb9441;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
}

.door_inner_button__mark {
  list-style-type: inherit;
  width: 100%;
  color: var(--ffffff, #fff);
}

.door_inner_button_text {
  color: var(--ffffff, #fff);
  font-size: 18px;
  font-family: Jost;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
}

.catalog__arrow {
  position: absolute;
  border-radius: 100%;
  border: none;
  background-repeat: no-repeat;
  width: 100%;
  height: 57px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 50%;
}

.catalog__arrow_left {
  left: 16.1%;
}

.catalog__arrow_right {
  transform: rotateY(180deg);
  right: 16.1%;
}

.catalog__door-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.catalog__button {
  width: 250px;
  padding: 4px 32px;
}

.catalog__door-right > .button::before {
  left: 10%;
  top: 30%;
}

/*catalog_accessories*/

.catalog__accessories-title {
  color: var(--2-e-2-e-2-e, #493f39);
  font-size: 24px;
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;
  padding-right: 1.5%;
}

.catalog_accessories {
  display: flex;
  position: relative;
  justify-content: center;
}

.catalog__accessories-block {
  height: 398px;
  border-radius: 24px;
  background: var(--ffffff, #fff);
  box-shadow: 0px 4px 20px 0px #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.catalog__accessories-text {
  color: var(--3-d-3-b-3-b, #505050);
  text-align: center;
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  width: 80%;
}
.swiper_2 {
  position: relative;
  width: 100%;
}

.accessories__img-padding {
  padding: 15% 0;
}

.catalog_right_accessories {
  position: absolute;
  border-radius: 100%;
  border: none;
  background-repeat: no-repeat;
  width: 100%;
  height: 57px;
  background: none;
  left: 12.5%;
  top: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.catalog_arrow__button_accessories {
  border-radius: 100%;
  border: none;
  background-repeat: no-repeat;
  width: 100%;
  height: 57px;
  background: none;
  transform: rotateY(180deg);
  position: absolute;
  right: 14%;
  top: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.door_inner_shell {
  width: 200%;
}

/*servis*/

.servis__block-left {
  background-image: url(/images/a-worker-with-a-drill-in-an-orange-helmet-installs-a-door-in-the-house.png);
  width: 100%;
}

.servis__blocks {
  display: flex;
}

.servis__block {
  width: 645px;
  margin: 125px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 2%;
}

.servis__block > .button {
  width: 300px;
}

.servis__block > .button::before {
  left: 25%;
}

.servis__block-bg_color > .container-left {
  display: flex;
  justify-content: flex-end;
}

.servis__block-bg-color {
  background-color: #2a1818;
  opacity: 0.89;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servise_title__block_bg_color > .container-left {
  margin-right: 2%;
}

.servis__block-right {
  background-image: url(/images/aaaaaaaaaa.png);
  width: 100%;
  background-size: cover;
  background-position: bottom left;
}

.servis__door-block {
  height: 485px;
  display: flex;
  align-items: flex-end;
}

.servis__door-img {
  width: 200px;
  margin-left: 200px;
  position: relative;
}

.servis__button_start {
  top: -29px;
  right: 20px;
}

.servis__button_start.active{
  transform: rotate(-45deg);
}

.servis__button_mid {
  top: 115px;
  left: 10px;
}

.servis__button_mid.active{
  transform: rotate(45deg);
}

.servis__button_end {
  top: 250px;
  right: 80px;
}

.servis__button_end.active{
  transform: rotate(-45deg);
}

.servis__door-text {
  position: absolute;
  padding: 20px;
  background: #fff;
  border-radius: 24px;
  opacity: 0.800000011920929;
}

.servis__door-text_start {
  top: 0px;
  right: -240px;
  width: 250px;
  display: none;
}

.servis__door-text_start.open{
  display: block;
}



.servis__door-text_mid {
  top: 135px;
  left: -160px;
  width: 150px;
  display: none;
}

.servis__door-text_mid.open{
  display: block;
}

.servis__door-text_end {
  top: 270px;
  right: -210px;
  width: 280px;
  display: none;
}

.servis__door-text_end.open{
  display: block;
}

/*creat_your_door*/

.creat__block {
  margin-top: 40px;
}

.creat__door-block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2% 1%;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px #ececec;
}

.creat__door-left {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.creat_door_button_mark {
  color: var(--ffffff, #fff);
  font-size: 18px;
  font-family: Jost;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  list-style-type: disc;
}

.creat_door_button {
  padding: 2% 10%;
  border-radius: 48px;
  background: var(--linear, linear-gradient(180deg, #ebcb88 0%, #cda44e 100%));
  box-shadow: 0px 3px 0px 0px #bb9441;
  border: none;
  margin-top: 5%;
}

.pen-width {
  width: 100%;
  height: 168px;
}

.creat__door-background{
  background-image: url(/images/circle.svg);
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.creat__door-text{
  color: #505050;
  text-align: center;
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-top: 32px;
}

.creat__door-color{
  margin-top: 32px;
  height: 120px;
  display: flex;
  align-items: center;
  gap: 2%;
}

.creat__text{
  color: var(--3-d-3-b-3-b, #505050);
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  display: inline-block;
}

.choice_door__blocks {
  display: flex;
  gap: 60px;
  margin-top: 20px;
}

.choice__door__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.choice__door_text {
  color: var(--3-d-3-b-3-b, #505050);
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
}

.choice__door_lable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;
  width: 100%;
}

.choice__dor_color {
  display: flex;
  gap: 10%;
}

.creat__door-accessories{
  margin-top: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.choice__accessories_text {
  color: var(--3-d-3-b-3-b, #505050);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.choice__accessories__button {
  border-radius: 100%;
  border: none;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  left: 0%;
  top: 45%;
}

.choice__accessories__button_right {
  border-radius: 100%;
  border: none;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background: none;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  right: 0%;
  top: 45%;
}

.choice__accessories__button_img {
  width: 100%;
}

.choice__accessories__arrow_hover:hover {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  opacity: 50%;
}

.choice__accessories_lable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 125px;
  width: 100%;
}

.choice__accessories__blocks {
  width: 20px;
}

.choice__accessories__block {
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
}

.choice__accessories_pen {
  position: relative;
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 190px;
  padding-left: 2.5%;
}

.choice__accessories__block {
  height: 190px;
}

/*implemented_projects*/

.implemented_projects {
  margin-bottom: 5%;
  position: relative;
  width: 100%;
}

.implemented_projects_title {
  color: #220c0c;
  text-align: center;
  font-size: 40px;
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-right: 2.1%;
}

.projects_block {
  width: 100%;
  height: 398px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px #ececec;
  background-image: url(/images/room1.png);
  background-repeat: no-repeat;
  padding: 16px;
}

.swiper-block_project {
  width: 100%;
}

.projects_block1 {
  width: 100%;
  height: 398px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px #ececec;
  background-image: url(/images/room2.png);
  background-repeat: no-repeat;
  padding: 16px;
}

.projects {
  display: flex;
  margin-top: 2%;
  justify-content: center;
  z-index: 0;
  width: 100%;
}

.projects_text {
  color: var(--3-d-3-b-3-b, #505050);
  text-align: center;
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.project_button_block {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.project_button {
  background-image: url(/images/icon-plus.svg);
  width: 48px;
  height: 15%;
  border: none;
  border-radius: 100%;
  background-repeat: no-repeat;
}

.projects_arrow {
  position: absolute;
  top: 50%;
  left: 12.5%;
  border-radius: 100%;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.projects_arrow_right {
  position: absolute;
  top: 50%;
  right: 14%;
  border-radius: 100%;
  border: none;
  background: none;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.projects_arrow_hover:hover {
  background-color: #fff;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  opacity: 75%;
}

.swiper-button-next,
.swiper-button-prev {
  width: auto;
  height: auto;
}

/*about*/

.about {
  background-color: #000;
  margin-bottom: 5%;
  width: 100%;
}

.about_background__img {
  background-image: url(/images/close-up-of-metal-doorknob-on-blurred-background-of-home-interior\\(
      1\
    )\1png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 658px;
}

.about__number {
  width: 50%;
}

.about__background_color {
  width: 100%;
  height: 658px;
  background-color: #311616;
  opacity: 0.89;
}

.background_color__size {
  width: 100%;
}

.about_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.about_title {
  color: var(--ffffff, #fff);
  font-size: 40px;
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5%;
}

.about_text {
  color: var(--ffffff, #fff);
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 5%;
}

.about_button_marker {
  color: var(--ffffff, #fff);
  font-size: 18px;
  font-family: Jost;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  list-style-type: disc;
}

.about_button {
  width: 300px;
  height: 64px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(180deg, #ebcb88 0%, #cda44e 100%));
  box-shadow: 0px 3px 0px 0px #bb9441;
  border: none;
  padding: 20px 56px;
}

.abouy_number_title {
  color: var(--ccb-178, #ddb96d);
  font-size: 40px;
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about_number {
  height: 100%;
}

.about_info > .container-left {
  margin-right: 2%;
}

.about_number_text {
  color: var(--ffffff, #fff);
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.bottom-line {
  width: 30%;
  border-bottom: 2px solid #ddb96d;
  padding-bottom: 5%;
  padding-top: 5%;
}

.about_number {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.about_block_width {
  width: 30%;
}

.about_number_blok {
  display: flex;
  flex-direction: column;
  gap: 50%;
}

/*our contact*/

.our_contact__phone {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30px;
  width: 205px;
  gap: 5%;
  margin-right: 5%;
}

.our_contac_line {
  border-bottom: 2px dashed #78f362;
  width: 205px;
}

.our_contact__info_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.our_contact_phone {
  text-decoration: none;
  font-family: Jost;
  font-weight: 800;
  font-size: 20px;
  text-align: right;
  line-height: 28.9px;
  color: #2e2e2e;
}

.our_contact__title {
  color: #311616;
  text-align: center;
  font-size: 40px;
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.our_contact_gps {
  color: var(--2-e-2-e-2-e, #493f39);
  text-align: right;
  font-size: 20px;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.our_contact__mail_adres {
  color: var(--2-e-2-e-2-e, #493f39);
  font-size: 20px;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.our_contact__info {
  margin-top: 2%;
}

.our_contact__mail {
  display: flex;
  align-items: center;
  height: 20%;
  gap: 1%;
  margin-left: 6%;
  margin-right: 7%;
}

.our_contact__gps {
  display: flex;
  align-items: center;
  height: 20%;
  gap: 1%;
  width: 320px;
}

.our_contact__soc_net {
  border-radius: 32px;
  background: var(--linear, linear-gradient(180deg, #ebcb88 0%, #cda44e 100%));
  display: inline-flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  color: var(--ffffff, #fff);
  font-size: 16px;
  font-family: Jost;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  text-decoration: none;
  margin-right: 1%;
}

.our_contact__block {
  margin-top: 2%;
}

.map {
  width: 50%;
  height: 693px;
  border: 0;
}

[class*="copyrights-pane"] {
  display: none !important;
}

.gotoymaps {
  display: none;
}

[class*="ymaps-layers-pane"] {
  filter: grayscale(1);
}

.balloon_address {
  color: var(--3-d-3-b-3-b, #505050);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px #ececec;
  width: 385px;
  height: 66px;
}

.our_contact__block {
  display: flex;
}

.contact_us {
  padding-left: 6%;
  background-color: #311616;
  width: 50%;
  height: 693px;
}

.contact_us__title {
  color: var(--ffffff, #fff);
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact_us__input_top {
  color: var(--ffffff, #fff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.contact_us__input {
  width: 400px;
  height: 64px;
  padding: 1% 5%;
  border-radius: 8px;
  border: 1px solid var(--ffffff, #fff);
  background: var(--ffffff, #fff);
  color: var(--3-d-3-b-3-b, #505050);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.contact_us__mark {
  color: var(--ffffff, #fff);
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  list-style-type: disc;
  width: 50px;
  padding-left: 25%;
}

.contact_us__text {
  width: 350%;
}

.contact_us__button {
  border-radius: 48px;
  background: var(--linear, linear-gradient(180deg, #ebcb88 0%, #cda44e 100%));
  box-shadow: 0px 3px 0px 0px #bb9441;
  border: none;
  width: 300px;
  padding: 20px 0;
}

.contact_us__approval {
  color: var(--ffffff, #fff);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
}

.form_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 693px;
  gap: 5%;
  width: 100%;
}

/*Footer*/

.footer {
  background-color: #fff;
}

.footer_flex {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_tex {
  color: var(--3-d-3-b-3-b, #505050);
  text-align: center;
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.text_derection {
  border-bottom: solid 1px var(--3-d-3-b-3-b, #505050);
}

.footer_button {
  color: var(--ccb-178, #ddb96d);
  text-align: center;
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.footer_arrow {
  width: 56px;
}

/*cactom radio*/

.choice__door__block input {
  position: absolute;
  opacity: 0;
  сursor: pointer;
}

.choice__door__block label {
  position: relative;
  cursor: pointer;
  font-size: 17px;
  user-select: none;
}

.choice__door__block span {
  position: absolute;
  bottom: -25%;
  left: 40%;
  height: 25px;
  width: 25px;
  background-color: none;
  border-radius: 100%;
  border: 2px solid #ddb96d;
}

.choice__door__block label input:checked ~ span {
}

.choice__door__block span:after {
  content: "";
  position: absolute;
  display: none;
}

.choice__door__block label input:checked ~ span:after {
  display: block;
}

.choice__door__block label span:after {
  top: 23%;
  left: 23%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-image: url(/images/radio_chek.svg);
}

.choice__dor_color input {
  position: absolute;
  opacity: 0;
  сursor: pointer;
}

.choice__dor_color label {
  position: relative;
  cursor: pointer;
  font-size: 17px;
  user-select: none;
}

.choice__dor_color span {
  position: absolute;
  bottom: -25%;
  left: -42%;
  height: 40px;
  width: 40px;
  background-color: none;
  border-radius: 100%;
  border: none;
}

.choice__dor_color label input:checked ~ span {
  border: 2px solid #ddb96d;
}

.choice__dor_color span:after {
  content: "";
  position: absolute;
  display: none;
}

.choice__dor_color label input:checked ~ span:after {
  display: block;
}

.choice__accessories__block input {
  position: absolute;
  opacity: 0;
  сursor: pointer;
}

.choice__accessories__block label {
  position: relative;
  cursor: pointer;
  font-size: 17px;
  user-select: none;
}

.choice__accessories__block span {
  position: absolute;
  bottom: -25%;
  left: 40%;
  height: 25px;
  width: 25px;
  background-color: none;
  border-radius: 100%;
  border: 2px solid #ddb96d;
}

.choice__accessories__block label input:checked ~ span {
}

.choice__accessories__block span:after {
  content: "";
  position: absolute;
  display: none;
}

.choice__accessories__block label input:checked ~ span:after {
  display: block;
}

.choice__accessories__block label span:after {
  top: 23%;
  left: 23%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-image: url(/images/radio_chek.svg);
}
